<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.easeplanwork.dao.CommodityDao">
    <insert id="addCommodity" parameterType="com.zhou.easeplanwork.meta.Commodity">
        insert into t_commodity(uid,version,title,summary,price,owner_uid,text,image_url,count) values(#{uid},#{version},#{title},#{summary},#{price},#{owner_uid},#{text},#{image_url},#{count})
    </insert>
    <delete id="deleteCommodity">
        delete from t_commodity where uid=#{uid} and version=#{version}
    </delete>
    <delete id="deleteCommodityById">
        delete from t_commodity where uid=#{uid}
    </delete>
    <select id="getCurrentCommodityById" resultType="com.zhou.easeplanwork.meta.Commodity">
        select * from t_commodity A inner join
            (select `uid`, max(`version`) as `version` from t_commodity
            where `uid`=#{uid}) B on A.`version`=B.`version`
            and A.`uid`=B.`uid`
    </select>
    <select id="getCommodityByIdAndVersion" resultType="com.zhou.easeplanwork.meta.Commodity">
        select * from t_commodity where uid=#{uid} and version=#{version}
    </select>
    <select id="getAllCurrentCommodity" resultType="com.zhou.easeplanwork.meta.Commodity">
        select * from t_commodity A inner join
            (select `uid`, max(`version`) as `version`
            from t_commodity group by uid) B
            on A.`uid`=B.`uid` and A.`version`=B.`version`
    </select>
    <select id="getCurrentCommodityId" resultType="Integer">
        select DISTINCT max(uid) from t_commodity
    </select>
    <select id="getAllCurrentCommodityByOwnerId" resultType="com.zhou.easeplanwork.meta.Commodity">
        select * from t_commodity A inner join
            (select uid, max(version) as version from t_commodity
            group by uid) B on A.version=B.version
            and A.uid = B.uid where owner_uid=1
    </select>
</mapper>