<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.easeplanwork.dao.ShoppingCartDao">
    <insert id="addToShoppingCart" parameterType="com.zhou.easeplanwork.meta.ShoppingCart">
insert into t_shoppingcart (
            user_id, commodity_id, count
        ) values (
            #{user_id}, #{commodity_id}, #{count}
        ) on duplicate key update count=count+#{count}    </insert>
    <select id="getShoppingCart" resultType="com.zhou.easeplanwork.meta.ShoppingCart">
        SELECT * from t_shoppingcart
        <where>
            user_id=#{user_id}
        </where>
    </select>
</mapper>