<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.easeplanwork.dao.ShoppingCartDao">
    <insert id="addToShoppingCart" parameterType="com.zhou.easeplanwork.meta.ShoppingCart">
insert into t_shoppingcart (
            user_id, commodity_id, count
        ) values (
            #{user_id}, #{id}, #{num}
        ) on duplicate key update count=count+#{num}    </insert>
    <select id="getShoppingCart" resultMap="shoppingCartResultMap">
        SELECT * FROM t_shoppingcart WHERE user_id=#{user_id}
    </select>

    <delete id="deleteShoppingCart">
        DELETE FROM t_shoppingcart WHERE user_id=#{user_id} AND commodity_id=#{commodity_id}
    </delete>

    <resultMap id="shoppingCartResultMap" type="com.zhou.easeplanwork.meta.ShoppingCart">
        <id column="commodity_id" property="id" />
        <result column="count" property="num" />
    </resultMap>
</mapper>